html {
	width: 80%;
	margin: 0 auto;
}

h1 {
	font-size: 20px;
	color: red;
}
#title_1 {
	color: white;
	font-size: 5em;
	color: #F8F8FF;
	font-style: italic;
	position: absolute; 
	top: 160px; 
	left: 430px;
}

#title_2 {
	font-size: 6em;
	color: #3659d6;
	font-style: bold;
	position: absolute; 
	top: 250px; 
	right: 418px;
}

/*body {
	background-image: url(" ../images/coffee_rainy.png");
	background-size: 80%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}/*/

#image_link {
	display: block;
	background-image: url("../images/coffee_rainy.png");
	background-size: 85%;
	background-position: 140%;
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 700px;
	width: 850px;

}

