
html {
	margin: 0 auto;
}

h1 {
	color: red;
	font-size: 70px;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;

}
#main_contents {
	width: 80%;
	margin: 0 auto;
}

#top_header {
	width: 100%;
	height: 60px;
	background-color: #dfe1e5;
	border-bottom: solid;
	border-width: .2em;
	border-color: #b4b6bd;
}

#category_desc {
	font-style: italic;
}

#all_posts_header {
	clear: left;

}

#vote_style {
	font-style: italic;
	font-size: 2em;
}
.post_list {
	line-height: 3em;
	width: 80%;
	clear: left;
	text-decoration: none;
}

#post_titles_home {
	font-size: 1em;
	text-decoration: none;
	text-align: right;
	/*line-height: 30px;*/
}

.posts_link {
	text-decoration: none;
	font-size: 1.5em;
	color: #3659d6;
}

/*#wrapper_body {
	width: 70%;
	margin: 2% 5% auto;

}*/

.welcome {
	font-family: 'Lobster', cursive;
	color: #3659d6;
	font-size: 2.5em;
	padding-top: 10px;
	padding-left: 5px;
	/*padding-left: 10%;
	padding-top: 2%;*/
}


.categ_button {
	background-color: gray;
/*	border-radius: 1em;*/
	border-style: solid;
	border-color: black;
	color: white;
	width: 13.462em;
	height: 3em;
	font-family: Arial;
	display: block;
	float: left;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
/*	padding: 5px 8px 5px 8px;*/
	text-decoration: none;
	margin-top: 5px;
}

.add_categ_button {
	border-style: solid;
	border-color: black;
	color: white;
	width: 13.462em;
	height: 3em;
	font-family: Arial;
	display: block;
	float: left;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	text-decoration: none;
	margin-top: 5px;
	background-color: black;
}


.categ_button:hover {
/*	background: #b40f0f;
*/	background: #d63659;
/*	border-radius: 10em;
*/	border-style: solid;
	border-color: black;
}

/*h1 {
	font-size: 40px;
	color: #3659d6;
}

h2 {
	font-size: 30px;
	color: green;
}*/
#title_1 {
	color: white;
	font-size: 5em;
	color: #F8F8FF;
	font-family: 'Lobster', cursive;
	position: absolute; 
	top: 160px; 
	left: 350px;
}

#title_2 {
	font-size: 6em;
	color: #3659d6;
	font-style: italic;
	position: absolute; 
	top: 250px; 
	left: 560px;
}



/*body {
	background-image: url(" ../images/coffee_rainy.png");
	background-size: 80%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}/*/



#image_link {
	display: block;
	background-image: url("../images/coffee_rainy.png");
	background-size: 83%;
	background-position: 140%;
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 700px;
	width: 850px;
}

