
html {
	margin: 0 auto;
}

h1 {
	color: red;
	font-size: 70px;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;

}
#main_contents {
	width: 80%;
	margin: 0 auto;
}

#top_header {
	width: 100%;
	height: 60px;
	background-color: #dfe1e5;
	border-bottom: solid;
	border-width: .3em;
	border-color: #b4b6bd;
}

/*#category_desc {
	font-style: italic;
}*/
#entry_form {
	width: 30em;
	height: 15em;
}
#entry_form_1 {
	width: 15em;
	height: 6em;
	margin-top: 5px;
}

#all_posts_header {
	clear: left;
}
 #add_fix {
 	margin-top: 8px;
 }
.form_button {
	line-height: 2em;
	border: none;
	background-color: gray;
	width: 159px;
	height: 33px;
	color: white;
	font-family: 'Quicksand', sans-seriff;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}

.form_button:hover {
	line-height: 2em;
	border: none;
	background-color: #585a60;
	width: 159px;
	height: 33px;
	color: white;
	font-family: 'Quicksand', sans-seriff;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	margin-bottom: 5px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;


}
 .clear_fix {
 	clear: left;
 }

#vote_style {
	font-style: italic;lic;
	font-size: 2em;
	padding-right: 1em;
}
.post_list {
	line-height: 3em;
	width: 80%;
	clear: left;
	text-decoration: none;
}

#post_titles_home {
/*	font-size: 1em;
*/	text-decoration: none;
	text-align: right;
	font-family: 'Quicksand', sans-seriff;
	/*line-height: 30px;*/
}

.posts_link {
	text-decoration: none;
	font-size: 1.5em;
	color: #3659d6;
}

#single_categ_title {
	font-family: 'Lobster', cursive;
	padding: 3px;
}
/*#wrapper_body {
	width: 70%;
	margin: 2% 5% auto;

}*/

#single_cat_lineheight {
	line-height: 1.5em;
	padding-bottom: 1em;
	color: #3659d6;
	font-family: "Quicksand", sans-seriff;
	font-weight: bold;
}

.welcome {
	font-family: 'Lobster', cursive;
	color: #3659d6;
	font-size: 2.5em;
	padding-top: 10px;
	padding-left: 5px;

	/*padding-left: 10%;
	padding-top: 2%;*/
}

.post_button {
	background-color: gray;
	border-style: solid;
	border-color: black;
	color: white;
	width: 10em;
	height: 2em;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 2em;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Quicksand', sans-seriff;
	font-size: 16px;
	clear: left;
	border-radius: 5px;
}

.post_button:hover {

	background-color: black;
}


.categ_button {
	background-color: gray;
/*	border-radius: 1em;*/
	border-style: solid;
	border-color: black;
	color: white;
	width: 17em;
	height: 3em;
	font-family: 'Quicksand', sans-seriff;
	display: block;
	float: left;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
/*	padding: 5px 8px 5px 8px;*/
	text-decoration: none;
	margin-top: 5px;
	border-radius: 5px;
}

.add_categ_button {
	border-style: solid;
	border-color: black;
	color: white;
	width: 17em;
	height: 3em;
	font-family: 'Quicksand', sans-seriff;
	display: block;
	float: left;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	text-decoration: none;
	margin-top: 5px;
	background-color: black;
	border-radius: 5px;
	line-height: 3em;
}
.add_categ_button:hover {
	border-style: solid;
	border-color: black;
	color: white;
	width: 17em;
	height: 3em;
	font-family: Arial;
	display: block;
	float: left;
	text-align: center;
	padding: 5px;
	margin-right: 5px;
	text-decoration: none;
	margin-top: 5px;
	background: #d63659;
	border-radius: 5px;
	line-height: 3em;
}



.categ_button:hover {
/*	background: #b40f0f;
*/	background: #d63659;
/*	border-radius: 10em;
*/	border-style: solid;
	border-color: black;
}

/*h1 {
	font-size: 40px;
	color: #3659d6;
}

h2 {
	font-size: 30px;
	color: green;
}*/
#title_1 {
	color: white;
	font-size: 5em;
	color: #F8F8FF;
	font-family: 'Lobster', cursive;
	position: absolute; 
	top: 160px; 
	left: 350px;
}

#title_2 {
	font-size: 6em;
	color: #3659d6;
	font-style: italic;
	position: absolute; 
	top: 250px; 
	left: 560px;
}



/*body {
	background-image: url(" ../images/coffee_rainy.png");
	background-size: 80%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}/*/



#image_link {
	display: block;
	background-image: url("../images/coffee_rainy.png");
	background-size: 83%;
	background-position: 140%;
	background-repeat: no-repeat;
	text-indent: -9999px;
	height: 700px;
	width: 850px;
}

