<!DOCTYPE html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
	<link rel = "stylesheet" type = "text/css" href = "./css/reset.css">
	<link rel = "stylesheet" type = "text/css" href = "./css/style.css">
	<title>Welcome to Coffee Forum NYC!</title>
</head>
<div id = "main_contents">
	<div id = "top_header">
	<h1 class = "welcome"> coffee forum NYC</h1>
	</div>

	<body>
		
	{{#block}}
	<a href='/categories/{{title}}' class = "categ_button">{{title}}: <span id = "category_desc">{{description}}</span></a>
	{{/block}}

	<a href = '/categories/new' class = "add_categ_button">add category</a>


	<h2 id = "all_posts_header">ALL POSTS</h2>	
	{{#block_1}}
	<!-- <h3>{{date}}</h3> -->
	<div class = "post_list">
		<span id = "vote_style">{{votes}}</span><a href='/categories/{{category}}/{{id}}' class = "posts_link">
		<span id = "post_titles_home">{{post_title}}</span></a></p>
	</div>
	{{/block_1}}
	</body>
	<h4><a href = "/categories/new">Add Category</a></h4>
</div>
</html>
