<!DOCTYPE html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel = "stylesheet" type = "text/css" href = "/css/reset.css">
	<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
	<title>category</title>
</head>

<div id = "main_contents">
	<div id = "top_header">
	<h1 class = "welcome"> coffee forum NYC</h1>
	</div>

{{#block}}
<div id = "single_categ_title">
<h1>{{title}}</h1>
</div>
<h3>VOTES: {{votes}}</h3>

<form method = "post" action = "/categories/{{title}}/vote">
	<input type = "hidden" name = "_method" value = "PUT">
	<button>VOTE UP</button>
</form>

<form method = "post" action = "/categories/{{title}}/vote_down">
	<input type = "hidden" name = "_method" value = "PUT">
	<button>VOTE DOWN</button>
</form>

<form method = "post" action = "/categories/{{title}}">
	<input type = "hidden" name = "_method" value = "DELETE">
	<button>DELETE CATEGORY</button>
</form>

<h3><a href = "/categories/{{title}}/new_post">New Post</a>
{{/block}}

{{#block_1}}
<div id = "single_cat_lineheight">
<h3>Name:{{user_name}}</h3>
<h3>Title: <a href = "/categories/{{category}}/{{id}}">{{post_title}}</a></h3>
<h3>Entry:{{entry}}
<h3>Date:{{date}}</h3>
</div>
{{/block_1}}
<a href = "/categories">BACK</a>
</div>
</html>

