<head>
	<link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel = "stylesheet" type = "text/css" href = "/css/reset.css">
	<link rel = "stylesheet" type = "text/css" href = "/css/style.css">
	<title>Post</title>
</head>
<div id = "main_contents">
	<div id = "top_header">
	<h1 class = "welcome"> coffee forum NYC</h1>
	</div>

{{#block}}
<div id = "single_categ_title">
<h1> {{post_title}} </h1>
</div>
VOTES: {{votes}}

	<form method = "post" action = "/categories/{{category}}/{{id}}/vote">
	<input type = "hidden" name = "_method" value = "put">
	<button>VOTE UP!</button>
	</form>

	<form method = "post" action = "/categories/{{category}}/{{id}}/vote_down">
	<input type = "hidden" name = "_method" value = "put">
	<button>VOTE DOWN</button>
	</form>

<div id = "single_cat_lineheight">

<h3>{{date}}</h3>
<h3>Title:{{post_title}}</h3>
<h3>Entry:{{entry}}</h3>
<h3><a href = "/categories/{{category}}">BACK</a>	<h3>	

<form method = "post" action = "/categories/{{category}}/{{id}}">
<input type = "hidden" name = "_method" value = "DELETE">
<button>DELETE POST</button>
<h3><a href="/categories/{{category}}/{{id}}/comment">Reply</a>
{{/block}}

<h3> COMMENTS: </h3>
{{#block_1}}
<h4>{{date}}</h4>
<h4>{{user_name}}</h4>
{{entry}}
{{/block_1}}
</div>
</div>

