<h1> SINGLE POST </h1>
{{#block}}
{{votes}}

<form method = "post" action = "/categories/{{category}}/{{id}}/vote">
	<input type = "hidden" name = "_method" value = "put">
	<button>VOTE UP!</button>
</form>
<form method = "post" action = "/categories/{{category}}/{{id}}/vote_down">
	<input type = "hidden" name = "_method" value = "put">
	<button>VOTE DOWN</button>
</form>

<h3>{{date}}</h3>
<h3>Title:{{post_title}}</h3>
<h3>Entry:{{entry}}</h3>
<h3><a href = "/categories/{{category}}">BACK</a>	<h3>	

<form method = "post" action = "/categories/{{category}}/{{id}}">
<input type = "hidden" name = "_method" value = "DELETE">
<button>DELETE POST</button>
<h3><a href="/categories/{{category}}/{{id}}/comment">Reply</a>
{{/block}}

<h3> COMMENTS: </h3>
{{#block_1}}
<h4>{{date}}</h4>
<h4>{{user_name}}</h4>
{{entry}}
{{/block_1}}

