<!DOCTYPE html>
<head>
<title>WELCOME TO COFFEE FORUM NYC</title>
<link rel = "stylesheet" type = "text/css" href = "./css/reset.css">
<link rel = "stylesheet" type = "text/css" href = "./css/style.css">
</head>
<body>
<h1 style = "position: absolute; top: 160px; left: 380px">Coffee Forum </h1>
<h2 style = "position: absolute; top: 250px; left: 600px">NYC</h2>
<!--  style = "position: absolute; top: 150px; left: 430px; width: 500px; height: 30px" -->


<a href = "/categories" id = "image_link">Coffee Time!</a>


</body>
</html>