<!DOCTYPE html>
<head>
<title>WELCOME TO COFFEE FORUM NYC</title>
<link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
<link rel = "stylesheet" type = "text/css" href = "./css/reset.css">
<link rel = "stylesheet" type = "text/css" href = "./css/style.css">
</head>
<body>
	<div id = "wrapper">
	

<!-- <img src = "../images/coffee_rainy.png"> -->

		<h1 id = "title_1"> Coffee Forum </h1>
<!-- <h1 style = "position: absolute; top: 160px; left: 380px">Coffee Forum </h1>
 -->
 		<h2 id = "title_2">NYC</h2>


<!--  style = "position: absolute; top: 150px; left: 430px; width: 500px; height: 30px" -->

		<a href = "/categories" id = "image_link">Coffee Time!</a>
	</div>

</body>
</html>